.sliding-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    cursor: pointer;
  
    --color1: rgb(42, 123, 155);
    --color2: rgb(56, 178, 194);
    --color3: rgb(0, 234, 255);
  
    background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 50%, var(--color3) 100%);
    transition: none;
  }