@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.sliding-cover{
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  --relative-margin: 0;
  --gradient-angle: 90deg;
  --main-color1: rgba(42, 123, 155, 1) 0%;
  --main-color2: rgba(56, 178, 194, 1) 50%;
  --main-color3:  rgba(0, 234, 255, 1) 100%;
  margin-left: var(--relative-margin);
  background: linear-gradient(var(--gradient-angle), var(--main-color1), var(--main-color2), var(--main-color3));
  transition: margin-left 1s;
}
.sliding-cover p{
  font-family: 'Jersey 10';
  color: #ffff;
  font-size: 200px;
  cursor: pointer;
}

@keyframes slide{
  from{
    margin-left: 0;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(56, 178, 194, 1) 50%, rgba(0, 234, 255, 1) 100%);}
  to{
    margin-left:50%;
    background: #75120e;
    background: linear-gradient(270deg, rgba(117, 18, 14, 1) 0%, rgba(237, 19, 19, 1) 67%, rgba(255, 81, 0, 1) 100%);
  }
}

@keyframes slideback{
  from{
    margin-left:50%;
    background: #75120e;
    background: linear-gradient(270deg, rgba(117, 18, 14, 1) 0%, rgba(237, 19, 19, 1) 67%, rgba(255, 81, 0, 1) 100%);
  }
  to{
    margin-left:0;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(56, 178, 194, 1) 50%, rgba(0, 234, 255, 1) 100%);}
}